@font-face {
    font-family: FonteTitle;
    src: url("../assets/fonts/Saira-Bold.ttf");
}

@font-face {
    font-family: FonteBody;
    src: url("../assets/fonts/Armata-Regular.ttf");
}

:root{
    --titulo-color: #1E90FF;
    --link-color: #90EE90;
}

li, a{
    margin-bottom: 30px;
    font-family: FonteBody;
}

#language-tags{
    width: 100px;
}

#search{
    width: 400px;
    font-family: FonteBody;
}

#titulo-principal{
    text-align: center;
    color: var(--titulo-color);
}

#titulo{
    color: var(--titulo-color);
    font-family: FonteTitle;
}

#subtitulo{
    font-family: FonteTitle;
}

#resultado{
    text-align: center;
    color: var(--titulo-color);
    font-family: FonteTitle;
}

#style-font{
    font-family: FonteBody;
}

.foco:hover{
    outline: solid var(--link-color);
}

.footer-body{
    font-family: FonteBody;
}

.texto-body{
    font-family: FonteBody;
}