:root{
    --titulo-color: #1E90FF;
    --link-color: #90EE90;
}

li{
    margin-bottom: 30px;
}

#language-tags{
    width: 100px;
}

#search{
    width: 400px;
}

#titulo-principal{
    text-align: center;
    color: var(--titulo-color);
}

#titulo{
    color: var(--titulo-color);
}

#resultado{
    text-align: center;
    color: var(--titulo-color);
}

.foco:hover{
    outline: solid var(--link-color);
}